body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App h1 {
  text-align: center;
}

.UpperSection {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  margin-top: 1rem;
  background-color: #aad9bb;
  border-radius: 10px;
  padding: 1rem;
}

.weatherforecast {
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .UpperSection {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: #aad9bb;
    border-radius: 10px;
    padding: 1rem;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
    .UpperSection {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 1rem;
      background-color: #aad9bb;
      border-radius: 10px;
      padding: 1rem;
    }
  }
