body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App h1 {
  text-align: center;
}

.UpperSection {
  display: flex;
  flex-direction: column; 
  gap: 15rem;
  margin-top: 1rem;
  background-color: #aad9bb;
  border-radius: 10px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .UpperSection {
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start;
  }
}

.weatherforecast {
  margin-top: 1rem;
  text-align: center;
}
